<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzq.datasource2.mapper.cluster.StuTMapper">

    <resultMap id="BaseResultMap" type="com.wzq.datasource2.entity.cluster.StuT">
        <result column="id" property="id" />
        <result column="name" property="name" />
    </resultMap>

    <sql id="Base_Column_List">
        id, name
    </sql>

    <select id="getAllStuT" resultMap="BaseResultMap">
        select * from stut
    </select>

</mapper>
